<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HLS VOD</title>
    <%= htmlWebpackPlugin.tags.headTags %>
    <style lang="css">
        #fluid-player-e2e-case {
            width: 50%;
        }
        .ww_custom_control.live-badge-control {
            position: absolute;
            left: 95px;
            font-size: 14px;
            text-transform: uppercase;
            opacity: 0.9;
            top: 3px;
            display: flex!important;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

        .ww_custom_control.live-badge-control .live-badge {
            margin-left: 5px;
        }

    </style>
</head>
<body>


<%= htmlWebpackPlugin.tags.bodyTags %>
<script src="../../dist/wwplayer.min.js"></script>
<script>
    // https://immerss-live-assets-qa.s3.amazonaws.com/vece_db/widget_config/2/fp_pic/video.mp4
    // https://multiplatform-f.akamaihd.net/i/multi/will/bunny/big_buck_bunny_,640x360_400,640x360_700,640x360_1000,950x540_1500,.f4v.csmil/master.m3u8
    // https://vod-qa.immerss.live/1725/channels/481/a52f1e5e17117f566bfd65e6c6c417ad/playlist.m3u8
    // const src = 'https://fcc3ddae59ed.us-west-2.playback.live-video.net/api/video/v1/us-west-2.893648527354.channel.xhP3ExfcX8ON.m3u8';

    let player;
    let isEnded;
    let lastEvent;
    let isWaiting = false;
    let hasInterval = false;
    let wowzaStreamInterval;
    let waitingEventTimeout;
    let allEventTimeout;
    let isLive;
    let startAt;
    let streamUrl;
    let streamSource;
    let currentChunkNumber = 0;
    let timeupdate = 0;
    let segments;
    let volume;

    const chunkOffset = 3;
    const liveOffset = 60;

    const utils = {
        fetchChunkNumbers: function (callback) {
            const result = {first: null, last: null};
            utils.fetchChunksBody(streamUrl, body => {
                result.first = utils.getChunkNumber(body);
                result.last = utils.getChunkNumber(body, true);
                callback(result);
            });
        },
        isNumber: function (value) {
            return typeof value === 'number';
        },
        getChunkNumber: function (body, last = false) {
            try {
                const isFile = line => line.endsWith('.ts') || line.endsWith('.m3u8');
                const lines = utils.parseLines(body);
                const chunk = last
                    ? lines.filter(line => isFile(line)).pop()
                    : lines.filter(line => isFile(line))[0];

                return chunk === undefined ? null : utils.parseChunkNumber(chunk)
            } catch (e) {
                console.error(e);
            }
        },
        parseChunkNumber: function (chunkName) {
            chunkName = String(chunkName).split('/').length > 1
                ? String(chunkName).split('/').pop()
                : String(chunkName);

            return parseFloat(
                String(chunkName)
                    .replace('media_', '')
                    .replace('.ts', '')
                    .replace('.m3u8', '')
                    .replace('segment-', '')
                    .replace('video_', '')
            )
        },
        parseLines: function (body) {
            return body.split(/[\r\n]/).filter(item => item.trim().length > 0);
        },
        fetchStreamData: function (_url, callback) {
            fetch(_url)
                .then(res => res.text())
                .then(text => callback(text))
                .catch(err => {
                    console.error(err);
                    callback('');
                });
        },
        fetchChunksBody: function (_url, _callback) {
            try {
                utils.fetchStreamData(_url, (body) => {
                    const lines = utils.parseLines(body);
                    const lastLine = lines[lines.length - 1];

                    if (lastLine.trim().endsWith('chunklist.m3u8')) {
                        const chunklistUrlSuffix = lastLine.trim().replace('..', '');
                        const chunklistUrlPrefix = streamUrl.trim().replace('/live/playlist.m3u8', '');
                        const chunklistUrl = chunklistUrlPrefix + chunklistUrlSuffix;

                        return utils.fetchChunksBody(chunklistUrl, _callback);
                    } else {
                        _callback(body);
                    }
                });
            } catch (e) {
                console.error(e);
            }
        },
        isActualMessage: function (e) {
            const url = new URL(document.URL);
            const iframeId = url.searchParams.get('iep_iframe_id');
            return !!(e.data && typeof e.data.type === 'string' && e.data.type.startsWith('iep_'))
                && !!(e.data && typeof e.data.iframe_id === 'string' && e.data.iframe_id === iframeId);
        },
        sendMessageToParentWindow: function (detail) {
            const url = new URL(document.URL);
            detail.iframeId = url.searchParams.get('iep_iframe_id');
            parent.postMessage(JSON.stringify(detail), "*");
        },
        setColors: function (e) {
            // const colors = e.data.colors;
            // document.body.style.setProperty('--iep-first-color', colors.first_color);
            // document.body.style.setProperty('--iep-secondary-color', colors.secondary_color);
            // document.body.style.setProperty('--iep-third-color', colors.third_color);
            // document.body.style.setProperty('--iep-fourth-color', colors.fourth_color);
            // document.body.style.setProperty('--iep-fifth-color', colors.fifth_color);
        },
        toggleMobileLayout: function (e) {
            const isMobile = e.data.payload.isMobile;
            document.body.classList.toggle('iep-is-mobile', isMobile);
        },
        // resetState: function (ended = false) {
        //     clearInterval(wowzaStreamInterval);
        //     isWaiting = false;
        //     hasInterval = false;
        //     isEnded = ended;
        // },
        // startWaiting: function () {
        //     isWaiting = true;
        //     utils.sendMessageToParentWindow({type: 'iep_player_waiting'});
        //     if (!hasInterval) {
        //         hasInterval = true;
        //         wowzaStreamInterval = setInterval(utils.checkStreamStatus, 3000);
        //     }
        // },
        checkStreamStatus: function () {
            utils.fetchChunkNumbers((data) => {

                if ((data.last - chunkOffset) >= currentChunkNumber)
                {
                    // theoplayerWowza.reloadCurrentStream();
                }

                if (!utils.isNumber(currentChunkNumber) && utils.isNumber(data.first))
                {
                    currentChunkNumber = data.first;
                }
            });
        },
    };

    window.onInit = () => {

        const videoEl = document.createElement('video');
        videoEl.id = 'fluid-player-e2e-case';
        // videoEl.innerHTML = `
        // <source src="https://vod-uat.immerss.live/4250/13545/9ec05f0ec166bb5861b20d4106a793a2/playlist.m3u8"
        //     type="application/x-mpegURL">`;
        // videoEl.innerHTML = `
        // <source src="https://fcc3ddae59ed.us-west-2.playback.live-video.net/api/video/v1/us-west-2.893648527354.channel.xhP3ExfcX8ON.m3u8"
        //     type="application/x-mpegURL">`;
        // videoEl.innerHTML = `
        // <source src="//cdn.theoplayer.com/video/elephants-dream/playlist.m3u8" type="application/x-mpegURL">`;

        // https://5d6e17f1ca731.streamlock.net/LowLatencyBBB/myStream/playlist.m3u8
        videoEl.innerHTML = `
        <source src="https://5d6e17f1ca731.streamlock.net/LowLatencyBBB/myStream/playlist.m3u8" type="application/x-mpegURL">`;
        document.body.append(videoEl);

        window.instance = wwPlayer(videoEl, {
            modules: {
                enabled: ['Streaming'],
                configureHls: options =>
                {
                    options.enableWorker     = true;
                    options.lowLatencyMode   = true;
                    // options.backBufferLength = 90;
                    // options.liveSyncDurationCount = 5;
                    return options;
                },
                onAfterInitHls: hls => {
                    // onFragParsingMetadata
                    hls.on(Hls.Events.FRAG_CHANGED,function(event,data) {
                        const dateTime = data.frag.programDateTime;
                        const date = new Date(new Date(dateTime).toISOString());

                        console.log('programDateTime-', data.frag.programDateTime);

                        console.log('[FRAG_CHANGED] current dateTime- ', date);
                    });
                    hls.on(Hls.Events.MANIFEST_LOADED,function(event,data) {
                        // console.log('[MANIFEST_LOADED]', parseLines(data.networkDetails.response));
                        // const playedFirstChunk = utils.getChunkNumber(data.networkDetails.response.body);
                        // const playedLastChunk = utils.getChunkNumber(data.networkDetails.response.body, true);
                        // console.log(`available chunks: ${playedFirstChunk}-${playedLastChunk}, current: ${currentChunkNumber}`);
                    });
                    // LEVEL_LOADED
                    hls.on(Hls.Events.LEVEL_LOADED,function(event,data) {
                        // console.log('[LEVEL_LOADED]', data.details.fragments.map(frag => frag.url));
                    });
                },
            },
            layoutControls: {
                customControls: [
                    {
                        click: e => console.log(e),
                        className: 'live-badge-control',
                        innerHTML: `<svg viewBox="0 0 120 120" width="12" height="12" version="1.1" fill="red" xmlns="http://www.w3.org/2000/svg"><circle cx="60" cy="60" r="50"/></svg><span class="live-badge">Live</span>`
                    }
                ],
                controlProgress: true,
                autoPlay: true,
                mute: true,
                contextMenu: {
                    controls: false,
                    links   : [
                        {
                            href : 'https://immerss.live',
                            label: `<span>Powered by IMMERSS</span>`
                        }
                    ]
                },
                controlDuration: false,
                controlFullscreen: false,
            },
        });
    };

    function parseLines(body)
    {
        return body.split(/[\r\n]/).filter(item => item.trim().length > 0);
    }

    window.onDestroy = () => {
        window.instance.destroy();
    };

    window.onInit();
</script>

</body>
</html>
