<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HLS VOD</title>
    <%= htmlWebpackPlugin.tags.headTags %>
    <style lang="css">
        #fluid-player-e2e-case {
            width: 50%;
        }
        .ww_custom_control.live-badge-control {
            position: absolute;
            left: 95px;
            font-size: 14px;
            text-transform: uppercase;
            opacity: 0.9;
            top: 3px;
            display: flex!important;
            justify-content: center;
            align-items: center;
        }

        .ww_custom_control.live-badge-control .live-badge {
            margin-left: 5px;
        }

    </style>
</head>
<body>


<%= htmlWebpackPlugin.tags.bodyTags %>
<script src="../../dist/wwplayer.min.js"></script>
<script>
    // https://immerss-live-assets-qa.s3.amazonaws.com/vece_db/widget_config/2/fp_pic/video.mp4
    // https://multiplatform-f.akamaihd.net/i/multi/will/bunny/big_buck_bunny_,640x360_400,640x360_700,640x360_1000,950x540_1500,.f4v.csmil/master.m3u8
    // https://vod-qa.immerss.live/1725/channels/481/a52f1e5e17117f566bfd65e6c6c417ad/playlist.m3u8
    // const src = 'https://fcc3ddae59ed.us-west-2.playback.live-video.net/api/video/v1/us-west-2.893648527354.channel.xhP3ExfcX8ON.m3u8';

    window.onInit = () => {

        const videoEl = document.createElement('video');
        videoEl.id = 'fluid-player-e2e-case';
        // videoEl.innerHTML = `
        // <source src="https://vod-uat.immerss.live/4250/13545/9ec05f0ec166bb5861b20d4106a793a2/playlist.m3u8"
        //     type="application/x-mpegURL">`;
        // videoEl.innerHTML = `
        // <source src="https://fcc3ddae59ed.us-west-2.playback.live-video.net/api/video/v1/us-west-2.893648527354.channel.xhP3ExfcX8ON.m3u8"
        //     type="application/x-mpegURL">`;
        // videoEl.innerHTML = `
        // <source src="//cdn.theoplayer.com/video/elephants-dream/playlist.m3u8" type="application/x-mpegURL">`;

        // https://5d6e17f1ca731.streamlock.net/LowLatencyBBB/myStream/playlist.m3u8
        videoEl.innerHTML = `
        <source src="https://ll-hls-test.apple.com/llhls1/multi.m3u8" type="application/x-mpegURL">`;
        document.body.append(videoEl);

        window.instance = wwPlayer(videoEl, {
            modules: {
                enabled: ['Streaming'],
                configureHls: options =>
                {
                    options.enableWorker     = true;
                    options.lowLatencyMode   = true;
                    options.backBufferLength = 90;
                    options.liveSyncDurationCount = 5;
                    return options;
                }
            },
            layoutControls: {
                customControls: [
                    {
                        className: 'live-badge-control',
                        innerHTML: `<svg viewBox="0 0 120 120" width="12" height="12" version="1.1" fill="red" xmlns="http://www.w3.org/2000/svg"><circle cx="60" cy="60" r="50"/></svg><span class="live-badge">Live</span>`
                    }
                ],
                controlProgress: true,
                autoPlay: true,
                mute: true,
                contextMenu: {
                    controls: false,
                    links   : [
                        {
                            href : 'https://immerss.live',
                            label: `<span>Powered by IMMERSS</span>`
                        }
                    ]
                },
                controlDuration: false,
                controlFullscreen: false,
            },
        });
    };

    window.onDestroy = () => {
        window.instance.destroy();
    };

    window.onInit();
</script>

</body>
</html>
