<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HLS VOD</title>
    <%= htmlWebpackPlugin.tags.headTags %>
    <style lang="css">
        #fluid-player-e2e-case {
            width: 50%;
        }
        .ww_custom_control.live-badge-control {
            position: absolute;
            left: 95px;
            font-size: 14px;
            text-transform: uppercase;
            opacity: 0.9;
            top: 3px;
            display: flex!important;
            justify-content: center;
            align-items: center;
        }

        .ww_custom_control.live-badge-control .live-badge {
            margin-left: 5px;
        }

    </style>
</head>
<body>

<video id="fluid-player-e2e-case">
    <!--<source src="https://vod-qa.immerss.live/1725/channels/481/a52f1e5e17117f566bfd65e6c6c417ad/playlist.m3u8"
            type="application/x-mpegURL">-->
    <source src="https://fcc3ddae59ed.us-west-2.playback.live-video.net/api/video/v1/us-west-2.893648527354.channel.xhP3ExfcX8ON.m3u8"
            type="application/x-mpegURL">
    <!--    <source src="https://multiplatform-f.akamaihd.net/i/multi/will/bunny/big_buck_bunny_,640x360_400,640x360_700,640x360_1000,950x540_1500,.f4v.csmil/master.m3u8" type="application/x-mpegURL"/>-->
</video>

<%= htmlWebpackPlugin.tags.bodyTags %>
<script src="../../dist/wwplayer.min.js"></script>
<script>
    var instance = wwPlayer('fluid-player-e2e-case', {
        modules: {
            enabled: ['Streaming'],
            onAfterAllModulesInit: () =>
            {
                console.log('onAfterAllModulesInit');
                instance.on('ended', events =>
                {
                    console.log('ended', events);
                });
            },
            onAfterInitHls: hls => {
                // onFragParsingMetadata
                // hls.on(Hls.Events.FRAG_CHANGED,function(event,data) {
                //     const dateTime = data.frag.programDateTime;
                //     const date = new Date(new Date(dateTime).toISOString());
                //     console.log('[FRAG_CHANGED] current dateTime- ', date);
                // });
                // hls.on(Hls.Events.MANIFEST_LOADED,function(event,data) {
                //     console.log('[MANIFEST_LOADED]', parseLines(data.networkDetails.response));
                // });
                // LEVEL_LOADED
                // hls.on(Hls.Events.LEVEL_LOADED,function(event,data) {
                //     console.log('[LEVEL_LOADED]', data.details.fragments.map(frag => frag.url));
                // });
            },
        },
        layoutControls: {
            // customControls: [
            //     {
            //         className: 'live-badge-control',
            //         innerHTML: `<svg viewBox="0 0 120 120" width="12" height="12" version="1.1" fill="red" xmlns="http://www.w3.org/2000/svg"><circle cx="60" cy="60" r="50"/></svg><span class="live-badge">Live</span>`
            //     }
            // ],
            // controlDuration: true,
            controlProgress: false,
            autoPlay: true,
            mute: true,
            contextMenu: {
                controls: false,
                links   : [
                    {
                        href : 'https://immerss.live',
                        label: `<span>Powered by IMMERSS</span>`
                    }
                ]
            },
            controlFullscreen: false,
            // controlPanel: false,
            fullscreenHandler: () => console.log('fullscreenHandler'),
        },
    });

    function parseLines(body)
    {
        return body.split(/[\r\n]/).filter(item => item.trim().length > 0);
    }

</script>

</body>
</html>
